* {
    margin: 0px;
    padding: 0px;
}

/*------- Layout 1 -------*/

header, nav, main, footer, aside{
    display: block;
    width: 100%;
}

#logo{
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    margin: 59px auto;
    display: block;
}

/* HEADER */ 
header{
    height: 194px;
    background-color: #d495ab;
    display: flex;  
}

/* NAV */
nav{
    height: 61px;
    display: flex;
    background-color: rgb(250, 218, 218);
} 


ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    width: 33.33%;
}

ul{
    display: flex;
    list-style-type: none;  /* used for defining lists bullets' style */
    /* width: 1000px; */
}

#selected{
    background-color: #ffc4da;
    color: white;
    margin-left: 100px;
    padding: 0px 60px 4px;
    width: 32%;
    height: 57px;
}

#selected:hover{
    color:rgb(121, 121, 121);
}

nav a{
    margin-left: 100px;
    padding: 0px 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 100%;
    align-items: center;
    display: flex;
    justify-items: center;
} 

a:hover{

    color:rgb(121, 121, 121);
}

#wrapper{
    width: 1000px;
    margin: 0px auto;
}

/* ASIDE */

.background{
    background-color: #fcd0e0;
    width: 244px;
    height: 695px;
    float: right;
    margin-right: 200px;
}

.background div{
    height: 59px;
    width: 148px;
    background-color: #864c61;
    position: relative;
    top: 220px;
    left: 80px;
}

.left_container div{
    height: 100px;
    width: 100px;
    background-color: #864c61;
}
 
.right_container div{
    height: 100px;
    width: 100px;
    background-color: #864c61;
}

.left_container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 28px 40px;
    height: 238px;
    width: 238px;
    margin-left: 200px;
}

.right_container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
    position: relative;
    height: 238px;
    width: 238px;
    left: 300px;
    top: 170px;
}

/* MAIN */
main{
    width: 756px;
    justify-content: space-around;
}

/* FOOTER */
footer{
    background-color: #d495ab;
    height: 50px;
    display: flex;
}


/*------- Layout 2 -------*/

#selected1{
    background-color: #ffc4da;
    color: white;
    padding: 8px 7px;
    width: 115px;
    height: 25px;
    text-align: left;
}

#selected1:hover{
    color:rgb(121, 121, 121);
}

.nav_menu{
    width: 146px;
    height: 758px;
    align-items: flex-start;
    background-color: #e0c6d0;
    display: flex;
}

.modify{
    flex-direction: column;
    display: flex;
}

.modify a {
    margin: 0px;
    padding: 8px 7px;
    white-space: nowrap;
    text-align: left;
    font-size: 16px;
}

.modify ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 40px;
}

#firstLink{
    height: -10px;
}

#thirdLink{
    height: -10px;
}

/* ASIDE */
.background_layout2{
    width: 256px;
    height: 758px;
    background-color:#fcd0e0;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    margin-bottom: 45px;
}

.background_layout2 > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 238px;
    width: 238px;
}

.background_layout2 div div{
    width: 100px;
    height: 100px;
    background-color: #864c61;
}

#container_area{
    display: flex;
    flex-direction: row;
}

.left_container_layout2{
    width: 598px;
    height: 758px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.left_container_layout2 div:nth-child(1){
    width: 270px;
    height: 324px;
    background-color: #864c61;
}

.left_container_layout2 div:nth-child(2){
    width: 270px;
    height: 254;
    background-color: #864c61;
    margin-bottom: 100px;
}

.left_container_layout2 div:nth-child(3){
    width: 270px;
    height: 388px;
    background-color: #864c61;
}

.left_container_layout2 div:nth-child(4){
    width: 270px;
    height: 365px;
    background-color: #864c61;
    margin-top: -70px;
}

/* fixed footer */
#fixed{
    position: fixed;
    left: 0;
    bottom: 0;
}




/*------- Layout 3 -------*/

li a{
    font-weight: normal;
}

#selected2{
    background-color: #ffc4da;
    width: 33.33%;
    height: 30px;
    justify-content: center;
    height: 100%;
}
 
/* li:not(#selected2){
    margin-top: 20px;
} */

#selected2:hover{
    color:rgb(121, 121, 121);
}

.modify1{
   padding: 0px;
   display: flex;
   justify-content: center;
   width: 100%;
}

#aligning{
    margin-right: 120px;
    display: flex;
    width: 100%;
    justify-content : center;
}

#main_container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

#main_container div{
    height: 348px;
    width: 333px;
}


#main_container div .star{   
    float: right;
}

#layout3 .first_rectangle{
    width: 333px;
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#layout3 .rectangle{
    width: 333px;
    height: 348px;
    /* display: flex; */
    cursor: pointer;
}
#layout3 .plusbutton{
    width: 86px;
    height: 86px;
    cursor: pointer;
    background-image: url(../images/plus_button.png);
    background-repeat: no-repeat;
    display: block;
}

/* Mobile */
@media(max-width: 670px) {

    #wrapper{
        width: 100%;
    }

    #main_container div{
        height: 248px;
        width: 241px;
    }
    
}
